// .card-md{
//     margin-top: 15vh !important;
//     margin-left: 2vw !important;
//     margin-right: 2vw !important;
//     width: 96% !important;
// }
.card-md {
    margin: 2% !important;
    width: 96% !important;
    max-height: 84vh;
}

.card-content-md {
    padding: 13px 13px;
}
// page-modalworkspaceslist{
//    // margin-top: 12vh;
// }

.modal-wrapper{
    box-shadow: none !important;
    margin-top: 8vh;
}