<ion-card>
  <ion-card-title style="text-align: center">Nuevo workspace</ion-card-title>
  <ion-card-content>
    <div style="text-align: center">
      <ion-icon
        style="text-align: center; font-size: 14px;"
        ios="ios-arrow-dropleft"
        md="md-arrow-dropleft"
      ></ion-icon>
      <b> Seleccione un color para la aplicación final </b>
      <ion-icon
        style="text-align: center; font-size: 14px;"
        ios="ios-arrow-dropright"
        md="md-arrow-dropright"
      ></ion-icon>
    </div>
    <ion-slides
      style="text-align: center"
      (ionSlideDidChange)="slideChanged()"
      initialSlide="7"
      pager
    >
      <ion-slide *ngFor="let colour of coloursList">
        <div style="width:100%; height: 80px">
          <button
            ion-button
            icon-only
            clear
            [ngStyle]="{ color: 'color !important' }"
          >
            <ion-icon
              [ngStyle]="{ color: colour }"
              style="text-align: center; font-size: 40px;"
              ios="ios-home"
              md="md-home"
            ></ion-icon>
          </button>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-item style="padding-left:0px; padding-top: 2%">
      <ion-label color="myBlueColour" stacked>Nombre / Título:</ion-label>
      <ion-input
        type="text"
        min="1"
        max="20"
        placeholder="Esto es un título de ejemplo"
        [(ngModel)]="newWorkspace.name"
        >{{ newWorkspace.name }}</ion-input
      >
    </ion-item>
    <ion-item style="padding-left:0px;">
      <ion-label style="color: black">Elección del edificio:</ion-label>
      <ion-select
        style="max-width: 100%;"
        class="selectPiso anchoTotal fondoBlanco alturaBotonFlotante"
        disabled="{{ edificaciones.length == 1 }}"
        [(ngModel)]="newWorkspace.buildingIdentifier"
      >
        <ion-option disabled selected value="undefined">
          <ion-label>Seleccionar</ion-label>
        </ion-option>
        <ion-option
          *ngFor="let edif of edificaciones"
          value="{{ edif.buildingIdentifier }}"
        >
          <ion-label>{{ edif.name }}</ion-label>
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="padding-left:0px;">
      <ion-label style="color: black">Tipo de workspace:</ion-label>
      <ion-select
        style="max-width: 100%;"
        class="selectPiso anchoTotal fondoBlanco alturaBotonFlotante"
        [(ngModel)]="kindOfWorkspace"
      >
        <ion-option disabled selected value="undefined">
          <ion-label>Seleccionar</ion-label>
        </ion-option>
        <ion-option value="CrearLugaresRelevantes">
          <ion-label>Creación de lugares relevantes</ion-label>
        </ion-option>
        <ion-option value="CrearLugaresRelevantesConPreguntas">
          <ion-label
            >Creación de juego móvil con Preguntas Posicionadas</ion-label
          >
        </ion-option>
        <ion-option disabled value="RecorridoLineal">
          <ion-label>Creación de Recorrido Lineal</ion-label>
        </ion-option>
        <ion-option disabled value="RecorridoLibre">
          <ion-label>Creación de Recorrido Libre</ion-label>
        </ion-option>
      </ion-select>
    </ion-item>

    <div style="text-align: center">
      <button ion-button color="danger" (click)="cancelAddWorkspace()">
        Cancelar
      </button>
      <button
        ion-button
        color="myBlueColour"
        [disabled]="isComplete() == false"
        (click)="acceptAddWorkspace()"
      >
        Aceptar
      </button>
    </div>
  </ion-card-content>
</ion-card>
