  //COLORES DE LOS PoIs EN CLASES
.blackPoi{
    color: #000000
}
.strongGreenPoi{
    color: #2E7D32 
} 
.strongPurplePoi{
    color:#7B1FA2
}
.softGreyPoi{
    color:#9E9E9E
}
.softGreenPoi{ 
    color:#66BB6A
}
.softBluePoi{
    color:#304FFE
}
.myBlueColour{
    color:#1576C9
}
.strongBluePoi{
    color: #283593
}
.strongGreyPoi{
    color:#424250
}
.strongRedPoi{
    color:#860000
}
.softPinkPoi{
    color:#E040FB
}
.strongPinkPoi{
    color:#F06292
}
.softRedPoi{
    color:#F44336
}
.strongOrangePoi{
    color:#FF6D00
}
.softOrangePoi{
    color:#FF7043
}