
.colSixNoPadding{
    padding: 0px !important;
}
[col-6], .col {
    padding: 0px !important;  
}
page-nuevoPoi{
    min-height: 60vh !important;
    .label-md{
         margin: 0px 0px 0px 0px;
    }
}
