page-blockScreen{
    ion-modal{
        margin-top: -8vh !important !important;
    }
    .modal-wrapper{
        margin-top: -8vh !important;
    }
    .card-md{
        margin-top: 0% !important;
        margin-left: 0% !important;
        margin-bottom:0% !important;
        margin-right:0% !important;
        width:100% !important;
        max-height: 100vh !important;
        height: 100vh !important;
    }
}
